[[redirects]]
  from = "/api/*"
  to = "http://ec2-54-180-54-91.ap-northeast-2.compute.amazonaws.com:8080/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
